.nav-md ul.nav.child_menu li.in-progress:before {
  background: #FFEB3B;
}

.nav-md ul.nav.child_menu li.completed:before {
  background: #4CAF50;
}



/*.navbar {*/
/*height:95px;*/
/*margin-bottom: 0px;*/
/*}*/
/*.navbar-brand {*/
/*line-height: 30px;*/
/*}*/
/*.navbar-nav > li > a {*/
/*padding-top: 0px;*/
/*padding-bottom: 0px;*/
/*line-height: 95px;*/
/*}*/

.filter span i {
  margin-left: 12px;
}

.filter-wrapper {
  margin: 0px !important;
  padding: 0px !important;
}

.filter span {
  display: inline-block;
  padding: 8px;
  margin-left: 2px;
}

body {
  height: 100vh;
  min-height: 100vh;
}

.body, .right_col {
  height: 100vh;
}

.wide-modal {
  width: 90%;
  z-index: 99999
}

.left_col {
  z-index: 1000 !important;
}

.label-teal-100 {
  background-color: #B2DFDB;
  color: black
}

.label-teal-400 {
  background-color: #26A69A;
  color: black
}

.label-green-600 {
  background-color: #43A047;
  color: white
}

.label-green-800 {
  background-color: #2E7D32;
  color: white
}

#app {
  height: 100vh;
  min-height: 100vh;
}

#app>div {
  height: 100vh;
}

.layout-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.layout-enter-active {
  opacity: 1;
}

.layout-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.layout-leave-active {
  opacity: 0;
}

.nav hr {
  margin-top: 6px;
  margin-bottom: 6px;
}

.main_container {
  height:100% !important;
}
